body {
	margin: 0 auto;
	font-family: 'Josefin Sans', sans-serif;
	/*background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));*/
	background-color: #707070;
	line-height: 1.6;
	color: hsl(0, 36%, 70%);
	max-width: 375px; /* add to container */

}

.container {
	
	margin: 0 auto;
	background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%)); /*add background back to body*/
}

.logo {
	width: 30%;
	padding: 2em 2em;
}

.main {
	text-align: center;
	margin-top: -1em;
	padding: 4em 2em 3em;
}


h1 {
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 8px;
	line-height: 1.2;
}

strong {
	font-weight: 600;
	color: hsl(0, 6%, 24%);
}

.form-container {
	display: flex;
	margin: 2em 0 4em;
}

input {
	width: 90%;
	border-radius: 15px;
	padding: 1em 1em;
	border: 1px solid hsl(0, 36%, 70%);
	background-color: transparent;
}

input:focus {
	outline: none;
}

::placeholder {
	color: hsl(0, 36%, 70%);
}

.arrow {
	padding: .5em 1.25em;
	background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
	border-radius: 20px;
	margin-left: -3em;

}

.arrow:hover,
.arrow:focus {
	cursor: pointer;
	background: hsl(0, 80%, 86%);
	box-shadow: -5px 10px 15px 5px hsl(0, 36%, 70%);
}

.arrow:hover ~ input {
	border: 1px solid hsl(0, 93%, 68%);
}

.error {
	margin-left: -8em;
	height: 1em;
	padding-top: 10px;
}

.error-text {
	color: red;
	margin: -5em 10em 0 0;
	font-size: .75em;
}

.none {
	display: none;
}
footer {
	margin: 0;
	padding: 1em;
}